In [12]:
# Imports

from bs4 import BeautifulSoup
import requests
import pandas as pd

In [13]:
url="https://books.toscrape.com/"

In [14]:
response=requests.get(url)

In [15]:
response.status_code

200

In [16]:
soup=BeautifulSoup(response.content,'html.parser')

In [19]:
#parsing names
names=[]
result=soup.find_all(class_="col-xs-6")

In [20]:
len(result)

20

In [24]:
# first entry

result[0].find('h3').find('a').get_text().strip()

'A Light in the ...'

In [26]:
### removing ...
result[0].find('h3').find('a').get('title')

'A Light in the Attic'

In [27]:
#getting all entries

for i in range(0, len(result)):
    names.append(result[i].find('h3').find('a').get('title'))

In [28]:
names

['A Light in the Attic',
 'Tipping the Velvet',
 'Soumission',
 'Sharp Objects',
 'Sapiens: A Brief History of Humankind',
 'The Requiem Red',
 'The Dirty Little Secrets of Getting Your Dream Job',
 'The Coming Woman: A Novel Based on the Life of the Infamous Feminist, Victoria Woodhull',
 'The Boys in the Boat: Nine Americans and Their Epic Quest for Gold at the 1936 Berlin Olympics',
 'The Black Maria',
 'Starving Hearts (Triangular Trade Trilogy, #1)',
 "Shakespeare's Sonnets",
 'Set Me Free',
 "Scott Pilgrim's Precious Little Life (Scott Pilgrim #1)",
 'Rip it Up and Start Again',
 'Our Band Could Be Your Life: Scenes from the American Indie Underground, 1981-1991',
 'Olio',
 'Mesaerion: The Best Science Fiction Stories 1800-1849',
 'Libertarianism for Beginners',
 "It's Only the Himalayas"]

In [32]:
# parsing price

#get single price
result[0].find(class_="price_color").get_text()

'£51.77'

In [34]:
# all price
price=[]
for i in range(0,len(result)):
    price.append(result[i].find(class_="price_color").get_text())

In [35]:
price

['£51.77',
 '£53.74',
 '£50.10',
 '£47.82',
 '£54.23',
 '£22.65',
 '£33.34',
 '£17.93',
 '£22.60',
 '£52.15',
 '£13.99',
 '£20.66',
 '£17.46',
 '£52.29',
 '£35.02',
 '£57.25',
 '£23.88',
 '£37.59',
 '£51.33',
 '£45.17']

In [38]:
# in stock

#single stock
result[0].find(class_="instock availability").get_text().strip()

'In stock'

In [39]:
#for all instocks
stock=[]
for i in range(0,len(result)):
    stock.append(result[i].find(class_="instock availability").get_text().strip())

In [40]:
stock

['In stock',
 'In stock',
 'In stock',
 'In stock',
 'In stock',
 'In stock',
 'In stock',
 'In stock',
 'In stock',
 'In stock',
 'In stock',
 'In stock',
 'In stock',
 'In stock',
 'In stock',
 'In stock',
 'In stock',
 'In stock',
 'In stock',
 'In stock']

In [41]:
df=pd.DataFrame()

In [42]:
df['title']=names
df['price']=price
df['stock']=stock

In [43]:
df.head()

                                   title   price     stock
0                   A Light in the Attic  £51.77  In stock
1                     Tipping the Velvet  £53.74  In stock
2                             Soumission  £50.10  In stock
3                          Sharp Objects  £47.82  In stock
4  Sapiens: A Brief History of Humankind  £54.23  In stock

In [45]:
df.to_excel("books_info.xlsx",index=False)